* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
}

a {
    color: rgb(66, 66, 66);
    text-decoration: none;
}

li {
    list-style: none;
}

i,
em {
    font-style: normal;
}

input {
    outline: none;
}

img {
    border: 0;
}

button {
    cursor: pointer;
}

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}